@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); 

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--clr-light: #ffffff;
	--clr-dark: #212529;
	--foreground: var(--clr-dark);
	--background: var(--clr-light);
	--logo: #212529;
	--bg-green: #18CB68;
	--bg-blue: #499CE9;
	--bg-grey: #f8f9fa;
	--bg-red: #E94949;
	--ff-body: 'Roboto', sans-serif;
	--footer-bg: #F1F5F5;
	--nav-text: #ffffff;
	--nav-bg: #212529;
	--link-color: var(--clr-dark);
	--testimonial-bg: #F1F5F5;
	--icon: #ECDD00;
	--img: 1;
}
  
.darkmode {
	--clr-light: #dadada;
	--clr-dark: #212529;
	--foreground: var(--clr-light);
	--background: var(--clr-dark);
	--logo: var(--clr-light);
	--bg-green: var(--clr-dark);
	--bg-blue: var(--clr-dark);
	--bg-grey: var(--clr-dark);
	--bg-red: var(--clr-dark);
	--footer-bg: var(--clr-dark);
	--nav-bg: var(--clr-light);
	--nav-text:var(--clr-dark);
	--link-color: var(--clr-light);
	--icon: #424242;
	--img: 0.8;}
  
body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--ff-body);
}

.dark-mode-toggle {
	position: absolute;
	z-index: 100;
	top: 1.7em;
	right: 1em;
	color: var(--foreground);
	border: none;
	background: transparent;
	cursor: pointer;
	width: 28px;
	height: 28px;
}

.fade-in {
animation: fadeIn ease-in-out 1s;
-webkit-animation: fadeIn ease-in-out 1s;
-moz-animation: fadeIn ease-in-out 1s;
-o-animation: fadeIn ease-in-out 1s;
-ms-animation: fadeIn ease-in-out 1s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

img {
	opacity: var(--img);
}

.icon {
	fill: var(--icon);
}

.text-underline {
	text-decoration: underline;
}

a {
	color: var(--link-color);
}

a:hover {
	color: #E94949;
	text-decoration: none;
	transition: .2s ease-in-out;
}

p, a, ul{
	font-size: 1.25rem;
	margin: 0;
}

::-moz-selection { /* Code for Firefox */
	color: #ffffff;
	background: #E94949;
}

ul {
	padding-left: 1rem;
}

::selection {
	color: #ffffff;
	background: #E94949;
}

h1, h2, h3, h4 {
	font-weight: 700;
}

h1 {
	font-size: 2.7rem;
	line-height: 1.2;
}
h2 {
	font-size: 2rem;
	line-height: 1.2;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.1;
}

.medium {
	font-size: .8rem;
}
/* Intro  */
.intro {
	z-index: 2;
}

.portrait {
	padding: .5rem;
}

/* nav */
.nav {
	padding-left: 15px;
}

.nav a {
	font-weight: 700;
	font-size: 4.4rem;
	line-height: 1.1;
}

.nav-link {
	color: #212529;
	display: inline-block;
	padding: 0 .5rem;
	margin-bottom: .6rem;
	color: var(--color-text);
}

.nav-link:hover {
	color: var(--nav-text);
	background-color:var(--nav-bg);
	transition: .3s ease-in-out;
}

.active {
	color: var(--nav-text);
	background-color: var(--nav-bg);
}

/* headings */
.text-red {
	color: #E94949;
}

.text-green {
	color: #18CB68;
}

.text-blue {
	color: #499CE9;
}

.lead {
	font-size: 1.4rem;
}

/* clients */
.client-logo {
    width: 250px;
}

.bg-grey {
	background-color: var(--bg-grey);
}

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {	
}

@media (min-width: 414px) {
	.medium {
		font-size: .8rem;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.medium {
		font-size: .8rem;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.medium {
		font-size: .9rem;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	h1 {
		font-size: 3.5rem;
	}
	.medium {
		font-size: 1rem;
	}
}